<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <div class="bg-black text-white w-[80vw] m-auto my-[10vh] h-[80vh] p-5">
       <div id="row1" class="flex flex-row">
       <div class="border-2 p-2 border-white w-[8vw] text-center">Timing</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center">8-10</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center">10-12</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center">12-1</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center">1-2</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center">2-3</div>
       <!-- <div class="border-2 p-2 border-white w-[8vw] text-center">3-4</div>
       <div class="border-2 p-2 border-white w-[8vw] text-center">4-5</div>
       <div class="border-2 p-2 border-white w-[8vw] text-center">5-6</div>
       <div class="border-2 p-2 border-white w-[8vw] text-center">6</div> -->
       </div>

       <div id="row2" class="flex flex-row">
        <div class="border-2 p-2 border-white w-[8vw] text-center">Monday</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.mon1%></div>
        <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.mon2%></div>
        <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.mon3%></div>
        <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.mon4%></div>
        <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.mon5%></div>
        <!-- <div class="border-2 p-2 border-white w-[8vw] text-center">3-4</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center">4-5</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center">5-6</div>
        <div class="border-2 p-2 border-white w-[8vw] text-center">6</div> -->
       </div>
              <div id="row3" class="flex flex-row">
                  <div class="border-2 p-2 border-white w-[8vw] text-center">Tuesday</div>
                  <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.tue1%></div>
                  <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.tue2%></div>
                  <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.tue3%></div>
                  <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.tue4%></div>
                  <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.tue5%></div>
                  <!-- <div class="border-2 p-2 border-white w-[8vw] text-center">3-4</div>
                  <div class="border-2 p-2 border-white w-[8vw] text-center">4-5</div>
                  <div class="border-2 p-2 border-white w-[8vw] text-center">5-6</div>
                  <div class="border-2 p-2 border-white w-[8vw] text-center">6</div> -->
              </div>
                     <div id="row4" class="flex flex-row">
                         <div class="border-2 p-2 border-white w-[8vw] text-center">Wednesday</div>
                         <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.wed1%></div>
                         <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.wed2%></div>
                         <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.wed3%></div>
                         <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.wed4%></div>
                         <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.wed5%></div>
                         <!-- <div class="border-2 p-2 border-white w-[8vw] text-center">3-4</div>
                         <div class="border-2 p-2 border-white w-[8vw] text-center">4-5</div>
                         <div class="border-2 p-2 border-white w-[8vw] text-center">5-6</div>
                         <div class="border-2 p-2 border-white w-[8vw] text-center">6</div>  -->
                        </div>

                   <div id="row5" class="flex flex-row">
                       <div class="border-2 p-2 border-white w-[8vw] text-center">Thursday</div>
                       <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.th1%></div>
                       <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.th2%></div>
                       <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.th3%></div>
                       <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.th4%></div>
                       <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.th5%></div>
                       <!-- <div class="border-2 p-2 border-white w-[8vw] text-center">3-4</div>
                       <div class="border-2 p-2 border-white w-[8vw] text-center">4-5</div>
                       <div class="border-2 p-2 border-white w-[8vw] text-center">5-6</div>
                       <div class="border-2 p-2 border-white w-[8vw] text-center">6</div> -->
                   </div>
                          <div id="row6" class="flex flex-row">
                              <div class="border-2 p-2 border-white w-[8vw] text-center">Friday</div>
                              <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.fri1%></div>
                              <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.fri2%></div>
                              <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.fri3%></div>
                              <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.fri4%></div>
                              <div class="border-2 p-2 border-white w-[8vw] text-center"><%= user.fri5%></div>
                              <!-- <div class="border-2 p-2 border-white w-[8vw] text-center">3-4</div>
                              <div class="border-2 p-2 border-white w-[8vw] text-center">4-5</div>
                              <div class="border-2 p-2 border-white w-[8vw] text-center">5-6</div>
                              <div class="border-2 p-2 border-white w-[8vw] text-center">6</div> -->
                          </div>
       </div>
         <script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>